body {
  margin: 0;
  padding: 0;
}

.contact-title {
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.circle {
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
  background-color: #834083;
  border-radius: 50%;
  display: inline-block;
  position: flex;
}

.align {
  text-align: center;
}

#resizeico {
  height: 56px;
  width: 56px;
  margin-top: 2px;
}

.circle:hover {
  cursor: pointer;
  background-color: #997eb8;
  transition: all 0.2s ease-out;
}

.circle:not(:hover) {
  cursor: pointer;
  background-color: #834083;
  transition: all 0.2s ease-in;
}

/* 
form {
  margin-top: 30px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #ff5722;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  border-radius: 6px;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer; */
